{% extends "template.html" %}
{% block content %}
<div class="form-location">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <fieldset class="form-group" style="border: 1px black;">
        <legend>Log In</legend>
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {% if form.username.errors %}
                {{form.username(class="form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.town.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}
        </div>
    </fieldset>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}